@theme {

    /* color palette */
    --color-primary-blue: #2563EB;
    --color-primary-blue-dark: #1E40AF;
    --color-primary-blue-light: #3B82F6;
    --color-primary-blue-shadow: #DBEAFE;

    --color-white: #FFFFFF;
    --color-gray-100: #F3F4F6;
    --color-gray-400: #9CA3AF;
    --color-gray-600: #4B5563;
    --color-gray-900: #111827;

    --color-easy-green: #10B981;
    --color-medium-yellow: #F59E0B;
    --color-hard-red: #EF4444;
    --color-epic-purple: #8B5CF6;

    /* typography */
    --font-base: 'Inter', sans-serif;

    --text-h1: 32px;
    --font-weight-h1: 700;

    --text-h2: 24px;
    --font-weight-h2: 600;

    --text-h3: 18px;
    --font-weight-h3: 600;

    --text-body: 16px;
    --font-weight-body: 400;

    --text-body-small: 14px;
    --font-weight-body-small: 400;

    --text-caption: 12px;
    --font-weight-caption: 500;

    --text-button: 14px;
    --font-weight-button: 600;
}
